<div class="container">
  <div class="jumbotron">
    <h1 align="center"> Welcome to Sample App!</h1>  
	<div align="center"><%= link_to "SignUp Here!",signup_path, class:"btn btn-default"%>
	<%= link_to "Already have account?",login_path, class:"btn btn-default" %>
	</div>    
    
  </div>
     
</div>